nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.tweetTitle {
  font-size: 40px;
}

.writeNew {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-top: 5px;
}


@media only screen and (max-width: 1023px) {
  nav {
    background-color: darksalmon;
    background-image: url(../images/45-degree-fabric-light.png);
    position: sticky;
  }
}