.new-tweet {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

button[type="submit"] {
  font-family: Bungee;
  background-color: #4056A1;
  color: #FFFFFF;
}

label {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

.tweet-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  font-family: Bungee;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 0.15em solid #000000;
  background: transparent;
  resize: none;
}

textarea:focus {
  outline: none;
}

.exceed-limit {
  color: red
}

.error-message {
  display: none;
  color: red;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 0rem;
  }

  .error-message {
    font-size: 1rem;
  }
}