.tweet {
  margin-bottom: 1rem;
}

article.tweet {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-style: solid;
  border-width: 0.2rem;
  margin-top: 1rem;
  font-family: 'Source Sans 3', sans-serif;
}

article.tweet:hover {
  box-shadow: 15px 5px 5px gray;
  transition: box-shadow 0.3s ease-in-out;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-name {
  padding-left: 0.5rem;
}

.profile-username {
  color:dimgrey;
}

.tweet-content {
  border-bottom: 0.2rem solid;
  /* padding: 0rem 1rem; */
}

article.tweet footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.time-ago {
  font-size: 1rem;
}

.tweet-icons i {
  padding: 0 0.2rem;
  color: darkblue
}

.tweet-icons i:hover {
  color: orange;
  transition: color 0.2s ease
}